body{
    font-family: "Lato", sans-serif;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container{
    max-width: 90%;
    margin: 0 auto;
}

.col-4{
    width: calc(100% / 3);
}